<p id="notice"><%= notice %></p>

<h1>Participants</h1>

<table>
  <thead>
    <tr>
      <th>Email</th>
      <th>Event</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @participants.each do |participant| %>
      <tr>
        <td><%= participant.email %></td>
        <td><%= participant.event %></td>
        <td><%= link_to 'Show', event_participant(@event) %></td>
        <td><%= link_to 'Edit', edit_event_participant_path(@event, participant) %></td>
        <td><%= link_to 'Destroy', event_participant(@event), method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Participant', new_event_participant_path(@event) %>
