<table>
  <thead>
    <tr>
      <th>Email</th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @event.participants.each do |participant| %>
    <tr>
      <td><%= participant.email %></td>
      <td><%= link_to 'Destroy', [@event, participant], method: :delete, data: { confirm: 'Are you sure?' } %></td>
    </tr>
    <% end %>
  </tbody>
</table>
