<p id="notice"><%= notice %></p>

<%= form_tag(events_path, method: :get) do %>
<%= text_field_tag :term %>
<%= submit_tag 'Search' %>
<% end %>

<h1>Events</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Event type</th>
      <th>Speaker</th>
      <th>Date</th>
      <th>Duration</th>
      <th>Location</th>
      <th>Description</th>
      <th>Participants</th>
      <th colspan="2"></th>
    </tr>
  </thead>

  <tbody>
    <% @events.each do |event| %>
      <tr>
        <td><%= link_to event.name.titleize, event  %></td>
        <td><%= event.event_type.titleize %></td>
        <td><%= event.speaker.titleize %></td>
        <td><%= start_date(event.start_at) %></td>
        <td><%= duration(event.start_at, event.end_at) %></td>
        <td><%= event.location.titleize %></td>
        <td><%= event.description %></td>
        <td><%= ratio(event) %></td>
        <td><%= link_to('Edit', edit_event_path(event)) if current_user.try(:admin?) %></td>
        <td><%= link_to('Destroy', event, method: :delete, data: { confirm: 'Are you sure?' }) if current_user.try(:admin?) %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
<%= paginate @events %>
<%= link_to('New Event', new_event_path) if user_signed_in? %>
