<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @event.name.titleize %>
</p>

<p>
  <strong>Event type:</strong>
  <%= @event.event_type.titleize %>
</p>

<p>
  <strong>Speaker:</strong>
  <%= @event.speaker.titleize %>
</p>

<p>
  <strong>Date:</strong>
  <%= start_date(@event.start_at) %>
</p>

<p>
  <strong>Duration:</strong>
  <%= duration(@event.start_at, @event.end_at) %>
</p>

<p>
  <strong>Location:</strong>
  <%= @event.location.titleize %>
</p>

<p>
  <strong>Description:</strong>
  <%= @event.description %>
</p>

<h2>Participants <%= ratio(@event) %></h2>

<%= render partial: 'participants' %>

<%= link_to 'Edit', edit_event_path(@event) if user_signed_in? %>
<%= link_to 'Back', events_path %>
<%= link_to 'Add participant', new_event_participant_path(@event) %>
