<h2>Log in</h2>

<%= simple_form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
  <div class="form-inputs">
    <%= f.input :email, required: false, autofocus: true %>
    <%= f.input :password, required: false %>
    <%= f.input :remember_me, as: :boolean if devise_mapping.rememberable? %>
  </div>

  <div class="form-actions">
    <%= f.button :submit, "Log in" %>
  </div>
  <% end %>

<h2>Or</h2>

<h3>Long password? Hard to type?</h3>
<p>We can email you a magic link so you can sign in</p>
<p>without having to type your password</p>

<%= link_to 'Email Me A Link', '/magic_links/new' %>
